extends layout

block append content
  h1= title
  if error
    h3= error
  p submit a URL to be shortened
      form(method="post" action="/")
        h2 shorten this URL
        div
          label URL:
            input(type="text" name="url" placeholder="url")
            input(type="submit" value="shortening")
